*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

__pycache__/
*.cpython-310.pyc
*.cpython-312.pyc
*.cpython-313.pyc

official_cert.pem
official_key.pem
